body {
  background-color:#333;
  font-family:monospace;
  color:white;
  font-size:20px;
}
h4 {
  text-decoration: underline;
}

#info-button {
  position:fixed;
  font-size:14px;
  left:10px;
  top: 10px;
  border-radius:100%;
  background:#d9534f;
  width:35px;
  height:35px;
  text-align:center;
  padding-top:8px;
  cursor:pointer;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  transition:1s;
  z-index:1;
}
#info-button:hover {
/*  transform: rotate(360deg);*/
  transition:1s;
  background:#c9302c;
}

#project-description {
  position: fixed;
  font-size:14px;
  display: block;
  width: 60%;
  min-height: 300px;
  margin: 0 auto;
  background: #ff3030;
  top: -365px;
  left: 50%;
  text-align: center;
  transition: 2s;
  transform: translate(-50%, 0);
  z-index: 1;
  border-radius: 0 0 20px 20px;
  box-shadow:0px 10px 10px rgba(0,0,0,0.3);
  padding:10px 30px;
  border-bottom:3px solid #c9302c;
  border-right:1px solid #c9302c;
}
#project-description ul,
#project-description > p:nth-of-type(3),
#project-description > p:nth-of-type(5) {
  text-align:left;
}

#viewer {
  margin-top:80px;
}
#search {
  display:inline-block;
  overflow:hidden;
  position:relative;
  transition:0.3s;
}
#random {
  display:inline-block;
  position:relative;
  top:-10px;
}

#search input {
  overflow:hidden;
  background:none;
  color:white;
  outline:0;
  border:none;
  border-radius:10px;
  position:relative;
  display:inline-block;
  transition:0.3s;
  padding-left:5px;
}

#clear-x {
  display:inline-block; position:absolute;
  color:#333;
  cursor:pointer;
  right:-10px;
  transition:0.3s;
}

#search input:focus {
  background:white;
  color:#333;
  border:radius:10px;
  transition:0.5s;
}

#search input:focus + #clear-x{
  right:5px;
  transition:0.5s
}

#results-row {
  margin-top:45px;
}

#results-list li {
  list-style-type:none;
  background-color:gray;
  color:#333;
  border-left:3px solid #ff3030;
  margin-bottom:10px;
  padding:10px;
  text-align:left;
  text-decoration:none;
  transition:0.5s;
}
#results-list li:hover {
  background-color:white;
  border-left-width:15px;
  transition:0.5s;
}
#results-list a:hover {
  text-decoration:none;
}

#spin-load {
  display:none;
  animation: spin-load 2s linear infinite;
  position:absolute;
  left:50%;
}

@keyframes spin-load {
  0% {transform:rotate(0deg);
  color:white;}
  50% {transform:rotate(180deg);
  color:#ff3030;}
  100% {transform:rotate(360deg);
  color:white;}
}

#credit {
font-size:12px;
margin-top:25px;
}
#credit a,
#credit a:hover{
text-decoration:none;
color:white;
}


/*Responsive*/
@media only screen and (max-width:1100px) {
  #project-description {
    top:-450px;
    width:70%;
  }
}
@media only screen and (max-width:717px) {
  #project-description {
    top:-500px;
  }
}
@media only screen and (max-width:623px) {
  #project-description {
    top:-500px;
    width:80%;
  }
}
@media only screen and (max-width:439px) {
  #project-description {
    top:-600px;
    width:80%;
  }
}
@media only screen and (max-width:340px) {
  #project-description {
    top:-650px;
    width:80%;
  }
}
